.ui-datepicker {
  position: relative;
  width: 270px;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  border-radius: 1em 1em 0 0;
  background: #e66b6b;
  color: #fff;
  padding: 3em 2em 1em;
}

.ui-datepicker-title span {
  display: block;
}
.ui-datepicker-prev {
  position: absolute;
  top: 32px;
  left: 32px;
  /*display: none;*/
  /*display: block;*/
}

.ui-datepicker-next {
  position: absolute;
  top: 32px;
  left: 73px;
  /*display: none;*/
  /*display: block;*/
}

.ui-datepicker-year {
  font-size: 3em;
  font-weight: 900;
  line-height: 1em;
}

.ui-datepicker-month {
  font-size: 3em;
  line-height: 1em;
  text-transform: lowercase;
}

.ui-datepicker-calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
  color: #555;
  display: inline-block;
  padding: 2em;
}

.ui-datepicker-calendar thead {
  color: #e66b6b;
  font-weight: 700;
  text-transform: uppercase;
}

.ui-datepicker-calendar td {
  padding: .5em 1.4em;
  text-align: center;
  cursor: pointer;
}

.ui-datepicker-calendar tbody td:hover {
  background: #cacaca;
  color: #fff;
}

.current-day {
  color: #e66b6b;
}

.prev-month,
.next-month {
  color: #cacaca;
}

.ring-left,
.ring-right {
  position: absolute;
  top: 210px;
}

.ring-left {
  left: 2em;
}

.ring-right {
  right: 2em;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}




.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #000;
  border: 0;
  background: none;
}
.ui-widget-content {
  border: 0;
  background: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  padding: 0;
}

.ui-datepicker th {
  padding: 0.7em 0.5em;
}
.ui-datepicker-calendar td {
  padding: 3px 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  text-align: center;
}

.ring-left:before, .ring-left:after, .ring-right:before, .ring-right:after {
  margin: 4px;
  height: 18px;
  width: 4px;
}

.ring-left, .ring-right {
  top: 155px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  top: 25px;
  width: 25px;
  height: 25px;
  background: #FFF;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  transition: .3s;
  span {
    margin: 0;
    @include align();
    width: 8px;
    height: 9px;
  }
  &:hover {
    width: 25px;
    height: 25px;
    border: 0;
    padding: 0;
    // left: 0;
    background: #fdcece;
  }
}
// .ui-icon .ui-icon-circle-triangle-w {
//
// }
.ui-datepicker .ui-datepicker-prev {
  left: auto;
  right: 60px;
  span {
    left: -1px;
    background: url(../images/datepicker-prev.png) 50% 50% no-repeat;
  }
}
.ui-datepicker .ui-datepicker-next {
  left: auto;
  right: 20px;
  span {
    background: url(../images/datepicker-next.png) 50% 50% no-repeat;
  }
}

.ui-datepicker .ui-datepicker-title {
  text-align: left;
  margin: 0;
}
