@import 'components/tables';

.list-box {
  // font-size: 0;
  // margin-left: -13px;
  // margin-top: -13px;
  @include clearfix;
  .list-chart {
    width: 100%;
    height: 160px;
    border: 1px solid $main-color;
  }
  .list-info {
    position: relative;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #000;
      padding: 15px 15px 25px;
    }
  }
  .list {
    // display: inline-block;
    float: left;
    width: 25%;
    padding: 5px;
    vertical-align: top;
    // margin-left: 13px;
    // margin-top: 13px;
    &.up {
      .amplitude  {
        .list-val {
          color: $up-color;
        }
      }
    }
    &.down {
      .amplitude  {
        .list-val {
          color: $down-color;
        }
      }
    }
    .list-date {
      display: inline-block;
      font-size: 14px;
      padding-right: 10px;
      background: url(../images/list-arrow1.png) 100% 50% no-repeat;
    }
    .list-title {
      font-size: 16px;
      margin-top: 3px;
    }
    .line {
      width: 100%;
      height: 1px;
      margin: 5px 0;
      background: #FFF;
      opacity: 0.2;
    }
    .list-name {
      font-size: 14px;
    }
    .list-val {
      font-size: 30px;
      margin-left: 3px;
    }
    .amplitude {
      .list-val {
        position: relative;
        top: 4px;
        font-size: 28px;
      }
    }
  }
  // chart 樣式
  &.chart-type {
    .list-info {
      background: #736f6a;
      a {
        color: #FFF;
      }
    }
  }
  // data 樣式
  &.data-type {
    .list {
      // background: #FFF;
      // border: 1px solid #E2E2E2;
    }
    .list-date {
      background: url(../images/list-arrow2.png) 100% 50% no-repeat;
    }
    .list-date, .list-name, .list-name {
      color: $font-color-gray;
    }
    .line {
      background: #ada7a7;
    }
    .list-info {
      background: #FFF;
      border: 1px solid #E2E2E2;
      transition: .3s;
      a {
        color: #000;
      }
      &:hover {
        border: 1px solid #d6000f;
      }
    }
    .even {
      border: 1px solid #D8D8D8;
      .list-info {
        background: #E2E2E2;
      }
    }
  }
  // article 樣式
  &.article-type {
    .list-info {
      padding: 15px 15px 25px;
      background: #FFF;
      a {
        display: inline;
        padding: 0;
      }
    }
    .list-img {
      position: relative;
      width: 100%;
      height: 160px;
      h3 {
        line-height: image-height('../images/index/category1.jpg');
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #FFF;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
      }
      .mask-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
        @include opacity(0);
      }
      .mask {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        background: #d6000f;
        z-index: 1;
        @include opacity(0.75);
      }
      .mask-txt {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #FFF;
        line-height: 160px;
        z-index: 2;
        img {
          position: relative;
          top: 2px;
        }
      }
      &:hover {
        .mask-box {
          @include opacity(1);
        }
      }
    }
    .img-arrow {
      @include align('h');
      bottom: -1px;
      width: image-width('../images/list-arrow3.png');
      height: image-height('../images/list-arrow3.png');
      background: url(../images/list-arrow3.png);
      z-index: 2;
    }
    .list-title {
      font-size: 22px;
      color: #db0d1b;
      font-weight: 700;
      // a {
      //   font-size: 22px;
      //   color: #db0d1b;
      //   font-weight: 700;
      // }
    }
    .list-txt {
      font-size: 14px;
      margin-top: 16px;
      line-height: 1.3;
    }
    .announcement {
      li {
        position: relative;
        padding-left: 20px;
        & ~ li {
          margin-top: 5px;
        }
      }
      .ribbon {
        @include bg('../images/ribbon.png', 1/2);
        position: absolute;
        top: 3px;
        left: 0;
        &.red {
          background-position: 0 100%;
        }
      }
      .list-date {
        background: none;
        padding: 0;
        color: #6e6e6e;
      }
      .list-txt {
        margin-top: 2px;
      }
    }
  }
  // table 樣式
  &.table-type {
    .list-chart {
      display: none;
    }
  }
}

.data-list-box {
  .data-list-title {
    @include clearfix;
    > li {
      float: left;
    }
  }
}

@media screen and (max-width: 1200px) {
  .list-box {
    .list {
      width: 50%;
    }
  }
}
@media screen and (max-width: 520px) {
  .list-box {
    .list {
      width: 100%;
    }
  }
}
