.slider {
  position: relative;
  max-width: 1200px;
  width: 100%;
  // height: 342px;
  margin: 0 auto;
  .slider-main {
    overflow: hidden;
    position: relative;
    width: 100%;
    // height: 690px;
    font-size: 0;
    margin: 0 auto;
    .slider-normalize {
      position: relative;
    }
    .slider-content {
      position: relative;
      width: 99999px;
      li {
        display: inline-block;
        width: 1200px;
      }
    }
  }
  .btn {
    position: absolute;
    // top: 50%;
    // left: 22px;
    z-index: 1;
    // &.prev-btn {
    //   @include bg('../images/slider-arrow.png', 1/2);
    // }
    // &.next-btn {
    //   @include bg('../images/slider-arrow.png', 1/2);
    //   @include bgPosition('../images/slider-arrow.png', 0, -1/2);
    //   right: 22px;
    //     left: auto;
    // }
  }
  .dotNav{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 13px;
    cursor: pointer;
    li{
      background-color: rgba(255, 255, 255, .8);
      margin-left: 10px;
      display: inline-block;
      width: 14px;
      height: 14px;
      // border-radius: 50%;
      transition: .3s;
    }
    .active{
      background-color:  $main-color;
    }
  }
}
