.footer {
  position: relative;
  // padding: 25px 0 20px;
  height: 90px;
  background: #000;
  text-align: center;
  span {
    display: inline-block;
    font-size: 22px;
    margin-top: 32px;
    color: #FFF;
  }
}
