#footer {
  position: relative;
  padding: 10px 0;
  // height: 90px;
  background: #4A4A4A;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  span {
    // display: inline-block;
    // font-size: 14px;
    // margin-top: 32px;
    // color: #FFF;
  }
}
