@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

@import "compass/css3";

// Core variables and mixins
@import "helpers/variables";
@import 'helpers/mixins';

// Reset
@import "base/normalize";

// Core CSS
// @import "base/scaffolding";
// @import "base/type";
// @import "components/tables";
// @import "components/forms";
// @import "components/buttons";

// layout
// @import "layout/popup";
@import "layout/header";
@import "layout/footer";

// components
@import 'components/slider';
@import 'components/lists';
@import 'components/attentionBtn';
@import 'components/cssTable';

// 修正樣式
#header {
  height: 58px;
  max-width: 1200px;
  width: auto;
}
#header .fans {
  // left: 755px;
  left: auto;
  right: 357px;
}
#header .blog {
  // left: 855px;
  left: auto;
  right: 257px;
}
#header .select {
  // left: 953px;
  left: auto;
  right: 153px;
}
#header .select span {
  box-sizing: content-box;
}
input.gsc-search-button {
  box-sizing: content-box;
}

// =============================
* {
  box-sizing: border-box;
}

body {
  // min-width: 1200px;
  background-color: #F0F0F0;
  // overflow-x: hidden;
}

.swiper-container {
  left: -3000px;
}

.container {
  position: relative;
  max-width: 1120px;
  margin: 0 auto 34px;
  // font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  .select {
    padding-left: 6px;
    font-size: 0;
    margin-top: 25px;
    li {
      display: inline-block;
      vertical-align: top;
      width: 270px;
      height: 32px;
      font-size: 16px;
      border: solid 1px #ccc;
      overflow: hidden;
      background-color: #FFF;
      background-image:url(../images/dropdown-arrow.png), url(../images/select-type-icon.png);
      background-position: right center, 10px center;
    	background-repeat:no-repeat, no-repeat;
      // background:#FFF url(../images/dropdown-arrow.png) right center no-repeat,
      //             url(../images/select-type-icon.png) 10px center no-repeat;
      select {
        padding-left:34px;
        width: 302px;
        height:100%;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        background:transparent;
        border:none;
      }
      &.active {
        a {
          background: $main-color;
        }
      }
      &:hover {
        a {
          background: $main-color;
        }
      }
    }
    a {
      display: block;
      background: #6e6e6e;
      color: #FFF;
      padding: 0 10px;
      height: 32px;
      line-height: 32px;
      // transition: .3s;
    }
    .select-table-type {
      span {
        @include bg('../images/table-type-icon.png');
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
    .select-chart-type {
      margin-left: 5px;
      span {
        background-image: url(../images/chart-type-icon.png);
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
    .total-type {
      // background: url(../images/dropdown-arrow.png) right center no-repeat,
      //             url(../images/select-type-icon.png) 10px center no-repeat;
      /* the width and the height of your image */
      // overflow: hidden;
      // border: solid 1px #ccc;
      // margin-left: 13px;
      select{
        // -webkit-appearance:none;
        // -moz-appearance:none;
        // appearance:none;
        // background:transparent;
        // border:none;
      }
    }
    .ETF-type {
      // background: url(../images/dropdown-arrow.png) right center no-repeat,
      //             url(../images/select-type-icon.png) 10px center no-repeat;
      /* the width and the height of your image */
      // overflow: hidden;
      // border: solid 1px #ccc;
      margin-left: 13px;
      select{
        // -webkit-appearance:none;
        // -moz-appearance:none;
        // appearance:none;
        // background:transparent;
        // border:none;
      }
    }
  }
}

.kv {
  position: relative;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  .kv-txt {
    position: absolute;
    // top: 64%;
    bottom: 15%;
    left: 3%;
    font-size: 37px;
    font-weight: 700;
    color: #FFF;
  }
  img {
    width: 100%;
  }
}
.section {
  .section-title {
    padding-left: 3%;
  }
//   position: relative;
//   .more-btn {
//     position: absolute;
//     top: 18px;
//     right: 0;
//     a {
//       transition: .3s;
//     }
//     &:hover {
//       a {
//         color: $main-color;
//       }
//     }
//   }
}
.more-btn {
  display: inline-block;
  a {
    padding-right: 13px;
    color: #524f46;
    font-size: 14px;
    background: url(../images/more-arrow.png) 100% 0 no-repeat;
  }
  img {
    // position: relative;
    // top: 4px;
    // width: 9px;
  }
}

.breadcrumb {
  margin-top: 16px;
  margin-bottom: 22px;
  padding-left: 6px;
  a {
    color: #000;
    font-size: 13px;
    transition: .3s;
    &:hover {
      color: $main-color;
    }
  }
}

.page {
  margin: 34px 0;
  text-align: center;
  font-size: 0;
  a {
    color: #000;
    font-size: 16px;
    vertical-align: top;
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: $main-color;
    }
  }
  .page-btn {
    display: inline-block;
    position: relative;
    top: -3px;
    box-sizing: content-box;
    background-position: 50% 50%;
    padding: 4px 6px;
  }
  .pre-btn {
    @include bg('../images/page-arrow-left.png');
  }
  .next-btn {
    @include bg('../images/page-arrow-right.png');
    // background-position: 0 -15px;
  }
  .page-first, .page-last {
    font-size: 14px;
    padding: 4px 0;
  }
  .page-num {
    padding: 4px 8px;
    &.active {
      color: #FFF;
      background: $main-color;
    }
  }
}

.load-more-btn {
  max-width: 552px;
  width: 40%;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  margin: 35px auto 0;
  overflow: hidden;
  .load-more-icon {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 29px;
    height: 17px;
    overflow: hidden;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    // position: relative;
    // top: 2px;
  }
  .hover {
    opacity: 0;
  }
  a {
    display: block;
    color: #5C584C;
    background: #e2e2e2;
    transition: .3s;
  }
  &:hover {
    .normal {
      opacity: 0;
    }
    .hover {
      opacity: 1;
    }
    a {
      background: $main-color;
      color: #FFF;
    }
  }
}

.farther {
  padding: 0 6px;
  margin-top: 42px;
  .farther-title {
    font-size: 18px;
    background: url(../images/farther-title-icon.png) 0 50% no-repeat;
    padding-left: 30px;
  }
  .farther-line {
    width: 100%;
    height: 1px;
    background: #e2e2e2;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .farther-list {
    font-size: 14px;
    line-height: 1.5;
    list-style-type: decimal;
    padding-left: 18px;
  }
  & ~ .farther {
    margin-top: 30px;
  }
}



@media screen and (max-width: 640px) {
  #m-header {
    .m-logo {
      position: absolute;
      width: 42%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .swiper-container {
    left: 0;
  }
  #wrap {
    padding-top: 12.5%;
  }
  #m-footer {
    > a {
      display: block;
      width: 100%;
      text-align: center;
      img {
        width: 50%;
      }
    }
  }
  .kv {
    .kv-txt {
      font-size: 18px;
    }
  }
  .breadcrumb {
    display: none;
  }
  .container {
    .section-title {
      font-size: 20px;
    }
  }
  .main-title {
    margin-top: 32px;
    li {
      width: 50%;
      a {
        padding: 0;
        font-size: 20px;
        max-width: 222px;
        width: 100%;
      }
    }
  }
  .more-btn {
    a {
      padding-right: 18px;
      font-size: 20px;
      background: url(../images/m/more-arrow.png) 100% 0 no-repeat;
    }
  }
  .list-box {
    .list {
      .list-chart {
        display: none;
      }
      .list-date {
        font-size: 14px;
        padding-right: 14px;
        background: url(../images/m/list-arrow1.png) 100% 50% no-repeat;
      }
      .list-title {
        font-size: 24px;
      }
      .list-name {
        font-size: 21px;
      }
      .list-val {
        font-size: 28px;
      }
    }
    &.article-type {
      .list-img {
        .mask-box {
          display: none;
        }
      }
    }
  }
  .load-more-btn {
    width: 100%;
    height: 64px;
    line-height: 64px;
    font-size: 28px;
    padding: 0 3%;
    .load-more-icon {
      @include bg('../images/m/more-icon.png');
      img {
        display: none;
      }
    }
    &:hover {
      // background: #e2e2e2;
      a {
        color: #5C584C;
        background: #e2e2e2;
      }
    }
  }
  .container {
    .select {
      padding: 0 3%;
      margin: 25px auto;
      width: 100%;
      li {
        display: block;
        width: 100%;
        height: 53px;
        font-size: 20px;
        background-color: #FFF;
        background-image:url(../images/m/dropdown-arrow.png), url(../images/m/select-type-icon.png);
        background-position: right center, 10px center;
      	background-repeat:no-repeat, no-repeat;
        // background: url(../images/m/dropdown-arrow.png) right center no-repeat,
        //             url(../images/m/select-type-icon.png) 10px center no-repeat;
        select {
          width: 100%;
          height: 53px;
          padding-left: 54px;
        }
      }
      .ETF-type {
        margin-left: 0;
        margin-top: 8px;
      }
    }
  }
  .swiper-container {
      width: 100%;
      height: 50px;
      margin: 20px auto;
      a {
        font-size: 20px;
        font-weight: 700;
      }
  }
  .swiper-slide {
    background: transparent !important;
    &.active {
      a {
        color: $main-color;
      }
    }
  }
  .swiper-button-next {
    right: 0;
    background: url(../images/m/more-arrow.png) 50% 50% no-repeat;
  }
  .swiper-button-prev {
    left: 0;
    background: url(../images/m/last-arrow.png) 50% 50% no-repeat;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 60px;
    background-color: #F0F0F0;
  }
  .swiper-pagination {
    bottom: 0;
    display: none;
  }
  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }
  .append-buttons {
      text-align: center;
      margin-top: 20px;
  }
  .append-buttons a {
      display: inline-block;
      border: 1px solid #007aff;
      color: #007aff;
      text-decoration: none;
      padding: 4px 10px;
      border-radius: 4px;
      margin: 0 10px;
      font-size: 13px;
  }
}
