@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

@import "compass/css3";

// Core variables and mixins
@import "helpers/variables";
@import 'helpers/mixins';

// Reset
@import "base/normalize";

// Core CSS
// @import "base/scaffolding";
// @import "base/type";
// @import "components/tables";
// @import "components/forms";
// @import "components/buttons";

// layout
// @import "layout/popup";
@import "layout/header";
@import "layout/footer";

// components
@import 'components/slider';
@import 'components/lists';
@import 'components/attentionBtn';
@import 'components/cssTable';

// 修正樣式
#header {
  height: 58px;
}
#header .select span {
  box-sizing: content-box;
}
input.gsc-search-button {
  box-sizing: content-box;
}

// =============================
* {
  box-sizing: border-box;
}

body {
  // min-width: 1200px;
  background-color: #F0F0F0;
  // overflow-x: hidden;
}

.container {
  max-width: 1120px;
  margin: 0 auto 34px;
  // font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.kv {
  position: relative;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  .kv-txt {
    position: absolute;
    top: 64%;
    left: 3%;
    font-size: 37px;
    font-weight: 700;
    color: #3b3b3b;
  }
  img {
    width: 100%;
  }
}
// .section {
//   position: relative;
//   .more-btn {
//     position: absolute;
//     top: 18px;
//     right: 0;
//     a {
//       transition: .3s;
//     }
//     &:hover {
//       a {
//         color: $main-color;
//       }
//     }
//   }
// }
.more-btn {
  display: inline-block;
  a {
    padding-right: 14px;
    color: #524f46;
    font-size: 14px;
    background: url(../images/more-arrow.png) 100% 0 no-repeat;
  }
}

.breadcrumb {
  margin-top: 16px;
  margin-bottom: 22px;
  a {
    color: #000;
    font-size: 13px;
    transition: .3s;
    &:hover {
      color: $main-color;
    }
  }
}

.page {
  margin: 34px 0;
  text-align: center;
  font-size: 0;
  a {
    color: #000;
    font-size: 16px;
    vertical-align: top;
    text-decoration: none;
    transition: .3s;
    &:hover {
      color: $main-color;
    }
  }
  .page-btn {
    display: inline-block;
    position: relative;
    top: -3px;
    box-sizing: content-box;
    background-position: 50% 50%;
    padding: 4px 6px;
  }
  .pre-btn {
    @include bg('../images/page-arrow-left.png');
  }
  .next-btn {
    @include bg('../images/page-arrow-right.png');
    // background-position: 0 -15px;
  }
  .page-first, .page-last {
    font-size: 14px;
    padding: 4px 0;
  }
  .page-num {
    padding: 4px 8px;
    &.active {
      color: #FFF;
      background: $main-color;
    }
  }
}

.load-more-btn {
  max-width: 552px;
  width: 40%;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  background: #e2e2e2;
  margin: 35px auto 0;
  img {
    position: relative;
    top: 2px;
  }
  a {
    display: block;
    color: #5C584C;
  }
}

.farther {
  margin-top: 42px;
  .farther-title {
    font-size: 18px;
    background: url(../images/farther-title-icon.png) 0 50% no-repeat;
    padding-left: 30px;
  }
  .farther-line {
    width: 100%;
    height: 1px;
    background: #e2e2e2;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .farther-list {
    font-size: 14px;
    line-height: 1.5;
    list-style-type: decimal;
    padding-left: 18px;
  }
  & ~ .farther {
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
  .slider, .kv {
    display: inline-block;
    margin-top: 75px;
  }
}
