@import "compass/css3";
@import 'helpers/mixins';

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

.container {
  width: 1120px;
  margin: 0 auto;
}

.section-list-box {
  margin-top: 30px;
}

.Index {
  .list {
    background: #FFF;
  }
  .line {
    background: #ada7a7;
  }
}
