@import 'compass/css3';
@import 'helpers/mixins';

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

.section-list-box {
  margin-top: 30px;
}
.NAV {
  .line-chart {
    border: 1px solid #D6000F;
  }
  .list-info {
    background: #736f6a;
    a {
      color: #FFF;
    }
  }
}
.Index {
  .list {
    background: #FFF;
    border: 1px solid #E2E2E2;
  }
  .list-date {
    background: url(../images/list-arrow2.png) 100% 50% no-repeat;
  }
  .list-date, .list-name, .list-name {
    color: #868686;
  }
  .line {
    background: #ada7a7;
  }
  .list-info {
    background: #FFF;
    a {
      color: #000;
    }
  }
  .even {
    border: 1px solid #D8D8D8;
    .list-info {
      background: #E2E2E2;
    }
    // background: #E2E2E2;
  }
}

.article {
  margin-top: 8px;
  .list-info {
    border: 1px solid #E2E2E2;
    height: 150px;
  }
  .market {
    .list-img {
      background: url(../images/index/category1.jpg);
    }
  }
  .announcement {
    .list-img {
      background: url(../images/index/category2.jpg);
    }
  }
  .novice {
    .list-img {
      background: url(../images/index/category3.jpg);
    }
  }
  .ETF {
    .list-img {
      background: url(../images/index/category4.jpg);
    }
  }
  .youtube-video {
    // @include align();
    iframe {
      @include align();
      // display: inline-block;
      // width: 234px;
      // height: 120px;
      border: 2px solid #D50110;
    }
  }
}
