@import 'compass/css3';
@import "helpers/variables";
@import 'helpers/mixins';

.section {
  position: relative;
  .section-title {
    position: relative;
    font-size: 30px;
    text-align: center;
    margin-top: 52px;
    font-weight: 700;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -6px;
      background: $main-color;
      width: 90px;
      height: 2px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
  }
  .more-btn {
    position: absolute;
    top: 18px;
    right: 5px;
    a {
      transition: .3s;
    }
    &:hover {
      a {
        color: $main-color;
      }
    }
  }
}

.list-box {
  margin-top: 30px;
}



.article {
  margin-top: 8px;
  .list-info {
    border: 1px solid #E2E2E2;
    height: 150px;
  }
  .market {
    .list-img {
      background: url(../images/index/category1.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .announcement {
    .list-img {
      background: url(../images/index/category2.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .novice {
    .list-img {
      background: url(../images/index/category3.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .ETF {
    .list-img {
      background: url(../images/index/category4.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .youtube-video {
    // @include align();
    iframe {
      @include align();
      // display: inline-block;
      // width: 234px;
      // height: 120px;
      border: 2px solid #D50110;
    }
  }
}
