@import 'compass/css3';
@import 'helpers/mixins';
@import 'helpers/variables';

$table-bg-accent: #e2e2e2;
@import 'layout/footer';
// @import 'components/forms';
// @import 'components/tables';

.banner {
  text-align: center;
}

.infomation-box {
  .info {
    padding: 35px 52px;
    background: #FFF;
  }
  .info-text {
    width: 1040px;
    height: 485px;
    font-size: 14px;
    line-height: 1.5;
    overflow-y: auto;
  }
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
      }
    }
  }
  > thead {
    > tr {
      background: $QA-title-gray;
    }
  }
}

.confirm-btn {
  margin-top: 12px;
  font-size: 20px;
  text-align: center;
  line-height: 52px;
  @include clearfix;
  .btn {
    // float: left;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    a {
      display: block;
      width: 188px;
      height: 52px;
      color: #FFF;
    }
    & ~ .btn {
      margin-left: 12px;
    }
  }
  .false-btn {
    background: $false-btn-bg;
  }
  .true-btn {
    background: $main-color;
  }
}

// checkbox
.checkbox-area {
  position: relative;
  text-align: center;
  margin-top: 20px;
  svg {
    border: none;
    display: block;
  }
  .cb-content {
    position: relative;
    top: -4px;
    font-size: 16px;
  }
  label {
  	// position: absolute;
    // top: 3px;
    // left: 0;
  	cursor: pointer;
  	// display: block;
  	// font-size: 1.25em;
  	// line-height: 2.5rem;
  	// margin: 0.5em auto;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  	// width: 20rem;
    svg {
      display: inline-block;
      // float: left;
      // margin-right: 0.5rem;
      width: 23px;
      height: 23px;
      rect, polyline {
        fill: none;
        stroke-width: 3px;
      }
      rect {
        stroke: $main-color;
      }
    }
  }

  input[type="checkbox"] {
    display: none;
    margin: 10px 0 0 5px;
    width: 37px;
    height: 37px;
    &:checked + label svg {
      rect {
        stroke: $main-color;
      }
      polyline {
        stroke: $main-color;
      }
      polyline {
        -webkit-animation: checked 0.5s ease forwards;
        animation: checked 0.5s ease forwards;
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
      }
    }
  }

  @-webkit-keyframes checked {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes checked {
    to {
      stroke-dashoffset: 0;
    }
  }
}
