@import 'compass/css3';
@import 'helpers/mixins';
@import 'helpers/variables';

$table-bg-accent: #e2e2e2;
@import 'layout/footer';
@import 'components/datepicker';
// @import 'components/forms';
// @import 'components/tables';


.banner {
  text-align: center;
  img {
    width: 100%;
  }
}

.main-title {
  // @include clearfix;
  text-align: center;
  font-size: 0;
  font-weight: 700;
  li {
    // float: left;
    display: inline-block;
    vertical-align: top;
    & ~ li {
      border-left: 1px solid #cecece;
    }
    &.active {
      a {
        color: $main-color;
      }
    }
  }
  a {
    display: block;
    padding: 0 55px;
    font-size: 18px;
    transition: .3s;
    &:hover {
      color: $main-color;
    }
  }
}

.container {

}

.section-title {
  position: relative;
  font-size: 30px;
  text-align: center;
  margin-top: 26px;
  font-weight: 700;
  .title-num {
    color: $main-color;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 8px;
    right: 0;
    margin: 0 auto;
    bottom: -4px;
    background: $main-color;
    width: 90px;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}

.info-box {
  @include clearfix;
  margin-top: 38px;
  .left-area {
    float: left;
    width: 49.5%;
  }
  .right-area {
    float: right;
    width: 49.5%;
  }
  .info {
    padding: 10px 10px 0 10px;
    border: 1px solid #e2e2e2;
    background: #FFF;
    .info-title {
      background-color: #e2e2e2;
      background-position: 18px 50%;
      background-repeat: no-repeat;
      font-size: 18px;
      font-weight: 700;
      padding: 13px 0 13px 44px;
    }
  }
  .announcement {
    border-bottom: 0;
    .info-title {
      position: relative;
      background-image: url(../images/announcement-icon.png);
      .info-date {
        display: inline-block;
        font-size: 12px;
        color: #868686;
      }
      .select-date {
        float: right;
        margin-right: 10px;
        cursor: pointer;
        .data-icon {
          position: relative;
          top: 4px;
        }
        .data-txt {
          font-size: 16px;
        }
        .data-arrow {
          position: relative;
          top: -3px;
        }
      }
    }
    #datepicker {
      width: 0;
      visibility: hidden;
    }
    .info-list {
      padding: 0 6px;
      li {
        @include clearfix;
        padding: 15px 0;
        border-bottom: 1px solid #e2e2e2;
        font-size: 14px;
      }
      .name {
        float: left;
        color: #868686;
      }
      .val {
        float: right;
        color: #2b2925;
      }
    }
    .exchange-rate {
      font-size: 15px;
      margin-top: 15px;
      padding: 0 6px;
      span {
        vertical-align: top;
      }
      ul {
        display: inline-block;
        line-height: 1.5;
      }
    }
  }
  .purchase {
    border-top: 0;
    padding-top: 30px;
    .info-title {
      background-image: url(../images/purchase-icon.png);
    }
    .list {
      font-size: 14px;
      padding: 13px 6px;
      line-height: 1.4;
      & ~ .list {
        border-top: 1px solid #e2e2e2;
      }
    }
    .date {
      ul {
        margin-top: 6px;
      }
      li {
        padding-left: 11px;
        background: url(../images/list-arrow2.png) 0 40% no-repeat;
      }
    }
    .principle {
      ul {
        margin-top: 6px;
        list-style-type: decimal;
        padding-left: 17px;
      }
      li {
        // padding-left: 11px;
        // background: url(../images/list-arrow2.png) 0 40% no-repeat;
      }
    }
    .download-btn {
      margin: 0 -5px 5px;
      a {
        display: block;
        // padding: 10px 0;
        color: #FFF;
        background: #75726a;
        text-align: center;
        font-size: 18px;
        line-height: 52px;
        transition: .3s;
      }
      img {
        position: relative;
        top: 5px;
        left: 2px;
      }
      &:hover {
        a {
          background: $main-color;
        }
      }
    }
  }
  .stock {
    .info-title {
      background-image: url(../images/stock-icon.png);
    }
    .info-list {
      padding: 0 6px;
      li {
        @include clearfix;
        padding: 15px 0;
        border-bottom: 1px solid #e2e2e2;
        font-size: 14px;
      }
      .name {
        float: left;
        color: #868686;
      }
      .val {
        float: right;
        color: #2b2925;
      }
    }
  }
}

.info {
  &.other {
    margin-top: 15px;
    padding: 0;
    .table-box {
      padding: 0 10px;
    }
    .bond, .assets {
      display: none;
      .table {
        thead {
          tr {
            height: 58px;
          }
        }
      }
    }
  }
}

.table-box {
  margin-top: 10px;
}

.farther-box {
  // width: 50%;
}
.farther {
  margin-top: 30px;
}

.load-more-btn {
  margin: 20px auto 12px;
}

.table-box {
  // border: 1px solid #E1E1E1;
  color: #6e6e6e;
  .table-bordered {
    border: 0;
  }
  thead {
    // border-left: 3px solid $main-color;
  }
  tr {
    background: #FFF;
  }
  .table-bordered > thead > tr {
    border-top: 1px solid #ddd;
    // border-left: 3px solid $main-color;
  }
  .table-bordered > thead > tr > th:nth-child(4) {
    border-right: 0;
  }
  .table-bordered > tbody > tr {
    position: relative;
    height: 58px;
    border-top: 3px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #2b2925;
  }
  .table-bordered > tbody > tr:after {
    // content: '';
    // display: table;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 2px;
    // background: #974;
  }
  .table-bordered > tbody > tr > td {
    border: 0;
    font-size: 16px;
    &.up {
      color: $main-color;
    }
    &.down {
      color: #1d8147;
    }
  }
  .table-bordered > tbody > tr > td:nth-child(12),
  .table-bordered > tbody > tr > td:nth-child(3) {
    // font-size: 13px;
  }
  .table-bordered > tbody > tr > td:nth-child(2),
  .table-bordered > tbody > tr > td:nth-child(3),
  .table-bordered > tbody > tr > td:nth-child(12) {
    // text-align: left;
  }
  .table-bordered > thead > tr:first-child > th:first-child,
  .table-bordered > tbody > tr > td:first-child {
    border-left: 2px solid #75726a;
  }
}

.section-box {
  display: none;
  &.active {
    display: block;
  }
}

.table {
  margin-bottom: 0;
}
.table-bordered > thead > tr > th {
  border-bottom-width: 1px;
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        // border: 1px solid #e2e2e2;
      }
    }
  }
  > thead {
    > tr {
      background: #FFF;
    }
  }
  > tbody {
    > tr {
      background: #FFF;
    }
  }
}

.list-box {
  display: none;
}

.confirm-btn {
  margin-top: 12px;
  font-size: 20px;
  text-align: center;
  line-height: 52px;
  @include clearfix;
  .btn {
    // float: left;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    // width: 188px;
    // height: 52px;
    a {
      display: block;
      width: 188px;
      height: 52px;
      // color: #FFF;
    }
    & ~ .btn {
      margin-left: 12px;
    }
  }
  .false-btn {
    // background: $false-btn-bg;
  }
  .true-btn {
    // background: $main-color;
  }
}

.btn {
  border: none;
  // font-family: inherit;
  // font-size: inherit;
  // color: inherit;
  // background: none;
  cursor: pointer;
  // padding: 25px 80px;
  // display: inline-block;
  // margin: 15px 30px;
  // text-transform: uppercase;
  // letter-spacing: 1px;
  // font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1c */
.btn-1c {
  overflow: hidden;
  a {
    color: #FFF;
  }
  &.false-btn {
    border: 3px solid $false-btn-bg;
    &:after {
      background: $false-btn-bg;
    }
  }
  &.true-btn {
    border: 3px solid $main-color;
    &:after {
      background: $main-color;
    }
  }
  &:hover, &:active {
    a {
      color: #000;
    }
  }
  &:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #fff;
  }
  &:hover, &:active {
    a {
      // color: #0e83cd;
    }
  }
  &:hover:after, &:active:after {
    // width: 0%;
    left: 100%;
  }
}

// checkbox
.checkbox-area {
  position: relative;
  text-align: center;
  margin-top: 20px;
  svg {
    border: none;
    display: block;
  }
  .cb-content {
    position: relative;
    top: -4px;
    font-size: 16px;
  }
  label {
  	// position: absolute;
    // top: 3px;
    // left: 0;
  	cursor: pointer;
  	// display: block;
  	// font-size: 1.25em;
  	// line-height: 2.5rem;
  	// margin: 0.5em auto;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  	// width: 20rem;
    svg {
      display: inline-block;
      // float: left;
      // margin-right: 0.5rem;
      width: 23px;
      height: 23px;
      rect, polyline {
        fill: none;
        stroke-width: 3px;
      }
      rect {
        stroke: $main-color;
      }
    }
  }

  input[type="checkbox"] {
    display: none;
    margin: 10px 0 0 5px;
    width: 37px;
    height: 37px;
    &:checked + label svg {
      rect {
        stroke: $main-color;
      }
      polyline {
        stroke: $main-color;
      }
      polyline {
        -webkit-animation: checked 0.5s ease forwards;
        animation: checked 0.5s ease forwards;
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
      }
    }
  }

  @-webkit-keyframes checked {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes checked {
    to {
      stroke-dashoffset: 0;
    }
  }
}




.accordion {
  position: relative;
  // padding-bottom: 100px;
  a {
    display: block;
  }
  .accordion-content {
    margin: 0 auto;
  }
  .accordion-title {
    @include clearfix;
    li {
      position: relative;
      float: left;
      width: 33%;
      height: 55px;
      vertical-align: top;
      background: $table-bg-accent;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      line-height: 55px;
      overflow: hidden;
      transition: .3s;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        color: #000;
        transition: .3s;
      }
      & ~ li {
        margin-left: 0.5%;
      }
      &:hover {
        background: $main-color;
        a {
          color: #FFF;
        }
      }
      &.active {
        background: $main-color;
        a {
          color: #FFF;
        }
        .accordion-title-arrow {
          bottom: -7px;
        }
      }
    }
    .accordion-title-arrow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1 * image-width('../images/Qa/accordion-title-arrow.png');
      margin: 0 auto;
      width: image-width('../images/Qa/accordion-title-arrow.png');
      height: image-height('../images/Qa/accordion-title-arrow.png');
      background: url(../images/Qa/accordion-title-arrow.png);
      transition: .3s;
    }
  }
}

.m-table {
  display: none;
}

@media screen and (max-width: 1018px) {
  .info-box {
    .left-area {
      width: 100%;
    }
    .right-area {
      width: 100%;
    }
  }
}

@media screen and (max-width: 640px) {
  .main-title {
    display: none;
  }
  .farther-box {
    clear: both;
    &.m-table {
      padding-top: 10px;
    }
    .farther-title {
      font-size: 18px;
      background: url(../images/m/farther-title-icon.png) 0 50% no-repeat;
    }
    .farther-list {
      font-size: 14px;
    }
  }
  .info-box {
    // .left-area {
    //   width: 100%;
    // }
    // .right-area {
    //   width: 100%;
    // }
    .announcement {
      .info-title {
        .info-date {
          font-size: 16px;
          position: absolute;
          top: -36px;
          right: -10px;
        }
        .select-date {
          .data-txt {
            font-size: 20px;
          }
          .data-arrow {
            top: -5px;
          }
        }
      }
      .info-list {
        li {
          font-size: 20px;
        }
        .name {
          float: none;
        }
        .val {
          float: none;
        }
      }
      .exchange-rate {
        font-size: 18px;
        > ul {
          display: block;
          margin-top: 6px;
        }
      }
    }
    .info .info-title {
      font-size: 20px;
    }
    .purchase {
      .list {
        font-size: 18px;
      }
      .date {
        li {
          background: url(../images/m/list-arrow2.png) 0 10px no-repeat;
        }
      }
      .download-btn {
        a {
          font-size: 24px;
        }
        img {
          top: 1px;
        }
      }
    }

    .stock {
      .accordion .accordion-title li {
        font-size: 22px;
      }
    }
    .other {

    }
    .pc-table {
      display: none;
    }
    .m-table {
      display: block;
      font-size: 22px;
      .m-table-box {
        margin-top: 10px;
        border-left: 2px solid #75726B;
        border-top: 1px solid #E2E2E2;
        border-bottom: 1px solid #E2E2E2;
        padding: 10px;
        font-size: 20px;
        .t-name {
          color: #868686;
          & ~ .t-name {
            margin-top: 10px;
          }
        }
        .t-val {
          color: #000;
        }
      }
    }
  }
}
