@import 'compass/css3';
@import 'helpers/mixins';
@import 'helpers/variables';

$table-bg-accent: #e2e2e2;
@import 'layout/footer';
@import 'components/forms';
@import 'components/tables';

.kv {
  .kv-txt {
    color: #FFF;
  }
}

.accordion {
  position: relative;
  padding-bottom: 100px;
  a {
    display: block;
  }
  .accordion-content {
    margin: 30px auto 0;
    // width: 900px;
  }
  .accordion-title {
    // position: relative;
    // padding-bottom: 10px;
    // border-bottom: 3px solid #4098AC;
    // letter-spacing: -4px;
    @include clearfix;
    li {
      position: relative;
      float: left;
      width: 190px;
      height: 55px;
      vertical-align: top;
      background: $table-bg-accent;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      line-height: 55px;
      overflow: hidden;
      transition: .3s;
      a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        color: #000;
        transition: .3s;
      }
      & ~ li {
        margin-left: 2px;
      }
      &:hover {
        background: $main-color;
        a {
          color: #FFF;
        }
      }
      &.active {
        background: $main-color;
        a {
          color: #FFF;
        }
        .accordion-title-arrow {
          bottom: -7px;
        }
      }
    }
    .accordion-title-arrow {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1 * image-width('../images/Qa/accordion-title-arrow.png');
      margin: 0 auto;
      width: image-width('../images/Qa/accordion-title-arrow.png');
      height: image-height('../images/Qa/accordion-title-arrow.png');
      background: url(../images/Qa/accordion-title-arrow.png);
      transition: .3s;
    }
    .product {

    }
    .transaction {

    }
    .market {

    }
  }
  // .back-activity-btn {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }
  .accordion-list-box {
    position: relative;
    background: #FFF;
  }
  .accordion-list {
    font-size: 0;
    padding: 35px 52px;
    // background: #FFF;
    li {
      position: relative;
      // border-bottom: 1px solid #B7B7B7;
      > a {
        position: relative;
      }
    }
    .question-icon {
      display: inline-block;
      // margin: 20px 0;
      font-size: 0;
      width: image-width('../images/Qa/quation-icon.png');
      height: image-height('../images/Qa/quation-icon.png');
      background: url(../images/Qa/quation-icon.png);
    }
    .answer-icon {
      position: absolute;
      left: 0;
      font-size: 0;
      width: image-width('../images/Qa/answer-icon.png');
      height: image-height('../images/Qa/answer-icon.png');
      background: url(../images/Qa/answer-icon.png);
    }
    .list-title {
      padding-top: 9px;
    }
    .list-title-text {
      // position: absolute;
      // width: 75%;
      // top: 0;
      // bottom: 0;
      // left: 90px;
      // margin: auto 0;
      // height: 28px;
      display: inline-block;
      padding: 5px 10px 10px;
      vertical-align: top;
      font-size: 16px;
      font-weight: bold;
      color: $main-color;
    }
    .list-sub-text {
      // font-size: 14px;
      padding: 2px 0 12px;
      line-height: 1.5;
    }
    .switch-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      width: 14px;
      height: 15px;
      background: url(../images/Qa/switch-icon.png) 0 0;
    }
    .list-sub {
      display: none;
      position: relative;
      box-sizing: border-box;
      padding: 10px 0 0 34px;
      font-size: 14px;
      a {
        display: inline-block;
        text-decoration: underline;
      }
    }
    &.transaction {
      display: none;
    }
    &.market {
      display: none;
    }
  }
}

.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 0;
      }
    }
  }
  > thead {
    > tr {
      background: $QA-title-gray;
    }
  }
}
